[Desktop Entry]
Name=Xfm
Type=Application
Comment=X File Manager
Comment[pl]=Zarządca plików pod X
Exec=xfm
Icon=xfm.png
Terminal=false
Encoding=UTF-8
Categories=Utility;FileManager;
# vi: encoding=utf-8
