[Desktop Entry]
Name=Xfm
Type=Application
Comment=X File Manager
Comment[pl]=Zarządca plików pod X
Exec=xfm
Icon=xfm.png
Terminal=0
# vi: encoding=utf-8
